<%= form_with(model: todo) do |form| %>
  <% if todo.errors.any? %>
    <h1>Errors:</h1>
    <% todo.errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
  <% end %>
  <div>
    <%= form.label :title %>*
    <%= form.text_field :title, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", placeholder: "Start Typing Title here..." %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", placeholder: "Start Typing Description here..." %>
  </div>

  <br/>

  <div class="flex">
    <%= form.check_box :is_done, class: "rounded" %> &nbsp;
    <%= form.label :is_done, "is Done?*", class: "text-sm text-gray-500 ms-3 dark:text-gray-400" %>
  </div>
  <br/>

  <div class="flex items-center min-h-screen bg-gray-100 dark:bg-gray-700">
    <%= form.submit class: "flex items-center border border-black-800 rounded-lg shadow-md px-6 py-2 text-sm font-medium text-gray-800" %>
  </div>
<% end %>